<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
 <div class="note-content" contenteditable="false">
    {{{long}}}
 </div>
</body>
</html>